{% extends 'base.html' %}

{% block head %}
    <style>
        td {
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
    {% for msg in get_flashed_messages(category_filter=["ok"]) %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> 添加成功 </h4>
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in get_flashed_messages(category_filter=["err"]) %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> 添加失败 </h4>
            {{ msg }}
        </div>
    {% endfor %}
    <form method="post" class="form-horizontal" autocomplete="off">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="ds_host" style="color: white">添加模块名称</label>
                <div class="col-sm-4">
                    {{ form.model_name }}
                </div>
                <div>
                    {{ form.csrf_token }}
                    {{ form.submit }}
                    <a href="{{ url_for('web.branch_manage') }}" class="btn btn-default">取消</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}